*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  background: linear-gradient(#f0f1f4 50%, #f5a623 50%);
}
.container{
    background-color: #fff;
    width: 85vw;
    min-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.5em;
    box-shadow: 0 1.2em 2.8em rgb(0, 41, 22, 0.2);
}
.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}
label{
    font-style: 1.2em;
    font-weight: 600;
    color: #242e4c;
}
input{
    display: block;
    width: 100%;
    font-size: 1.3em;
    border: none;
    color: #444b5f;
    border-bottom: 1.5px solid #242e4c;
    padding: 0.45em;
    margin-top: 0.45em;
    outline: none;
}
input:focus{
    background-color: #f5a623;
}
button#generate{
    display: block;
    width: 100%;
    font-size: 1.1em;
    margin: 2.7em 0 0.1em 0;
    background-color: #f39705;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: #fff;
}
#result{
    text-align: center;
    font-size: 3.7em;
    font-size: 600;
    color: #242e4c;
}